/* your css code here */
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	background-color: yellow;
	width: 50%;
	text-align: center;
	margin: 20px auto; /* centers the table horizontally */
}

caption {
	font-weight: bold;
	margin-bottom: 8px;
}
